*,*::before,*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image:linear-gradient(#004aad,#e3ebe4);
  color: #333;
  text-align: center;
  min-height: 100vh;
}

h1 {
  color: white;
  font-size: 50px;
}

.categories {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  height: 430px;
  width: 100%;
  padding: 10px;
  margin-top: 80px;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #004aad;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  height: 100px;
  width: 200px;
  font-size:30px;
  font-weight: bold;
  transition: background-color 0.2s ease,  transform 0.2s ease;
}

.category:hover {
  background-image:linear-gradient(#2b22d77e,#00ad1784);
}

.category:active {
  transform: scale(0.90);
}


label {
  display: flex;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}

input {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.choicesBtn{
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: white;
  font-size: 24px;
  color: Blue;
  height: 50px;
  width: 300px;
}

button {
  padding: 10px 20px;
  background-color: #4b4b8a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6767b0;
}

.yourScore{
  font-size: 20px;
  color: white;
}

.backhome{
  text-decoration: none;
  color: black;
}

.backHome{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  height: 30px;
  width: 120px;
  justify-self: center;
}


.scoreBoard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: black;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: 10px;
}

.closeButton{
  text-decoration: none;
  color: black;
}

.closeBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  text-align: center; 
  height: 40px;
  width: 120px;
  justify-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}