*,*::before,*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image:linear-gradient(wheat,wheat);
  color: #333;
  text-align: center;
}

h1 {
  color: white;
  font-size: 50px;
}

.categories {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  height: 550px;
  width: 100%;
  padding: 10px;
  margin-top: 80px;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 2px solid black;  
  color: blue;
  text-decoration: none;
  border-radius: 5px;
  height: 100px;
  width: 200px;
  font-size: 30px;
  font-weight: bold;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.category:hover {
 background-color: rgba(0, 0, 255, 0.342);
}

.category:active {
  transform: scale(0.90);
}


label {
  display: flex;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}

input {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.choicesBtn{
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: white;
  font-size: 24px;
  color: Blue;
  height: 50px;
  width: 300px;
}

button {
  padding: 10px 20px;
  background-color: #4b4b8a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6767b0;
}


.backhome{
  text-decoration: none;
  color: black;
}

.backHome{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  width: 120px;
  margin-left: 1350px;
}


.scoreBoard, .percent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 250px;
  background-color: whitesmoke;
  font-size: 50px;
  border-radius:10px;
  padding: 10px;
  justify-self: center;
  margin-bottom: 10px;  
}

.scoreCont{
  font-size: 50px;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head{
  font-size: 24px;
  color: blue;
  height: 20%;
}

.closeButton{
  text-decoration: none;
  color: black;
}

.closeBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  text-align: center; 
  height: 40px;
  width: 120px;
  justify-self: flex-end;
  margin-top: 11px;
  margin-right: 10px;
}