<!DOCTYPE html>
<!-- home.html -->
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz/style.css' %}">
    <title>Quiz Categories</title>
</head>
<body>
    <div class="header">
        <img src="{% static 'quiz/QuizQuest.png' %}" alt="BrightMind" height="250" width="250">
        <button><a href="{% static 'quiz/login.html' %}"></a></button>
    </div>
    <div class="categories">
        {% for category in categories %}
            <a href="{% url 'quiz' category.id %}" class="category">{{ category.name }}</a>
        {% empty %}
            <p>No categories available.</p>
        {% endfor %}    
    </div>
</body>

</html>
