<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'quiz/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'quiz/favicon.png' %}">
</head>
<body class="loginBody">
    <h2 class="loginHeader">Login</h2>
   
    <form class="formLogin" method="post">
        <img class="loginLogo" src="{% static 'quiz/QuizQuest.png' %}" alt="QuizQuest Logo" height="120" width="120">
        {% csrf_token %}
        <div> 
            <label for="username">Username:</label>
            <input class="loginInput" type="text" name="username" placeholder="Username" required>
        </div>
        <div>  
            <label for="password">Password:</label>
            <input class="loginInput" type="password" name="password" placeholder="Password" required>
        </div>
       
      
        
        {% if error_message %}
            <div class="error-message">
                <p>{{ error_message }}</p>
            </div>
        {% endif %}
        
        <button class="loginBtn" type="submit">Login</button>
        <p class="linksAcc">Forgot your password? <a href="{% url 'reset_password' %}">Reset Password</a></p>
        <p class="linksAcc">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </form>
</body>
</html>
