<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quiz/style.css' %}">
    <title>Reset Password</title>

</head>
<body class="resetBody">
    <h2 class="resetHead">Reset Password</h2>
    <form class="resetForm" method="post">
      <img src="{% static 'quiz/QuizQuest.png' %}" alt="QuizQuest Logo" height="120" width="120">
        {% csrf_token %}
        <label class="resetLabel" for="username">Username:</label>
        <input class="resetInput" type="text" name="username" placeholder="Enter your username" required>

        <label class="resetLabel" for="new_password">New Password:</label>
        <input class="resetInput" type="password" name="new_password" placeholder="Enter new password" required>

        <label class="resetLabel" for="confirm_password">Confirm Password:</label>
        <input class="resetInput" type="password" name="confirm_password" placeholder="Confirm new password" required>

        {% if messages %}
            <div class="message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <a class="resetLogin" href="{% url 'login' %}">Login</a>
        <button class="resetButton" type="submit">Reset Password</button>
    </form>
</body>
</html>
